body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

.App {
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navigation-color-strip {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.7) !important;
  z-index: 1000;
}

.image-scaling {
  /*position:absolute;*/
  /*clip:rect(0px,60px,200px,0px);*/
  object-fit: cover;
}

.main-container {
  height: 100px;
  display: flex;
  flex-direction: column;
  flex:1;
  width: 100%;
  text-align: center;
}

.timer-container {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding-top: 50px;
  flex:1;
}

.index-title {
  position: absolute;
  top: 250px;
  color: white;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.index-title-main {
  display: inline-block;
  margin: 0 auto;
  padding: 0 100px;
  background-color: rgba(0,0,0,0.5);
  font-size: 60px;
}

.timer-counter {
  font-size: 30px;
  margin-bottom: 30px;
}

.index-images {
  padding: 50px;
  background-color: azure;
}

.index-image {
  /*height: 200px;*/
  margin: 2px;
  width: 200px;
}



.footer {
  text-align: center;
  height: 40px;
  width: 100%;
  background-color: #f8f9fa;
}